@{
    ViewBag.Title = "AddArticle";
}

@model MyBlog.Models.ArticleModel
 <div class="mainbar"> 
<div class="article">
    <div class="add-comment">
          <h2><span>New Post</span></h2>
          <div class="clr"></div>
          <form action="@Url.Action("AddArticle", "Home")" method="post" enctype="multipart/form-data">
            <ol>
                <li>
                <label for="email">Add Image(required)</label>
                @Html.TextBoxFor(m => m.Title, new { type="text" })
              </li>
              <li>
                <label for="name">Title (required)</label>
                @Html.TextAreaFor(m => m.Body, new { placeholder = "Your comment", @class="txt-area" })
              </li>
              <li>
                <label for="email">Add Image(required)</label>
                @Html.TextBoxFor(m => m.Path, new { type="text" })
              </li>
                <div class="wrap-btn">
            <button class="btn-cancel">Cancel</button>
            <button class="btn-save">Save changes</button>
            <p>Lorem ipsum dolor sit amet, <a href="#">adipiscing</a></p>
        </div> 
            </ol>
          </form>
        </div>
        </div>
     </div>
